groupWork/data/
groupWork/shortData/
groupWork/shortData/train_cultivar_mapping.csv
single_work/data/
single_work/BERT/
报告/
single_work/data/sample_submission.csv
single_work/data/test.csv
single_work/data/train.csv
single_work/xlm-roberta-large/
single_work/xlm-roberta-base/

single_work/opus-mt-en-de/
single_work/opus-mt-de-en/
single_work/bert-base-multilingual-uncased/
single_work/xlm-roberta-base-snli-mnli-anli-xnli/
single_work/bert-base-spanish-wwn-cased/
single_work/roberta-large-mnli/
single_work/xlm-roberta-large-nli/
